<%= form_for resource_letter, :method => (resource_letter.persisted? ? :patch : :post) do |f| %>
  <div class="row">
    <div class="col-lg-12">
      <%= f.text_area :content, class: "form-control", rows: "5", placeholder: "Содержание письма" %>
    </div>
  </div>
    <div>
      <%= f.submit "Сохранить", class: "btn btn-success btn-primary btn-lg" %>
    </div>

<% end %>
