<%= form_for  @letter, :method => (@letter.persisted? ? :patch : :post) do |f| %>
  <div class="letter_textarea">
    <%= f.text_area :content, :placeholder => "Содержание письма" %>
  </div>
    <%= f.submit "Сохранить", class: "btn btn-p" %>
<% end %>
